
<div class="document__nav">
    <input type="checkbox" id="nav-toggle" />
    <div class="nav__triango"></div>
    <label class="nav__toggle-button" for="nav-toggle"></label>
    <ul class="nav__items">
        <li class="nav__item"><a href="/docs">Getting started</a></li>
        <li class="nav__item"><a href="/docs/options">Options</a></li>
        <li class="nav__item"><a href="/docs/api">API</a></li>
        <li class="nav__item"><a href="/docs/events">Events</a></li>
        <li class="nav__sep-line"></li>
        <li class="nav__item"><a href="/docs/concepts">Concepts</a></li>
        <li class="nav__item"><a href="/docs/components">Components</a></li>
        <li class="nav__item"><a href="/docs/modules">Modules</a></li>
        <li class="nav__item"><a href="/docs/contribution">Contribuion</a></li>
    </ul>
</div>

