<header class="navigation-header">
  <div class="container">
    <input type="checkbox" id="menu-toggle" />
    <label class="primary-menu__toggle-button" for="menu-toggle"></label>
    <ul class="primary-menu">
      <li class="primary-menu__item primary-menu__item--logo"><a href="/"><img src="/assets/images/logo.png"></a></li>
      <li class="primary-menu__item"><a href="/docs/">Docs</a></li>
      <li class="primary-menu__item"><a href="/demo/">Demo</a></li>
      <li class="primary-menu__item"><a href="https://github.com/terrylinooo/sliderm.js">GitHub</a></li>       
    </ul>
  </div>
</header>
