---
layout: default
---
<div class="home">
    <div class="home__first-section">
        <div class="first-section__intro">
            <h1>Slider<span>m</span></h1>
            <p>A lightweight slider and carousel JavaScript library with a packed size is less than 15 KB.</p>
            <div class="intro__buttons">
                <a href="/docs/" class="intro__button button__getting-started" role="button">Getting started</a>
                <a href="https://github.com/terrylinooo/sliderm.js" class="intro__button button__github" role="button">GitHub</a>
            </div>
        </div>
    </div>
    <video class="home__background-video" autoplay muted loop>
        <source src="/assets/media/bg.mp4" type="video/mp4">
    </video>
</div>