body {
  color: $base-font-color;
  font-size: $base-font-size;
  font-family: $font-family-base-en;
}

.container {
  width: 100%;
  max-width: 1080px;

  &--wide {
    max-width: 100%;
  }
}

.content {
  &__container {
    width: calc(100% - 20px);
    max-width: 1080px;
    margin: 0 auto;
    padding: 10px;

    &--has-sidebar {
      display: flex;

      .content {
        &__body {
          flex: 1 1;
          overflow: hidden;
          padding: 20px;
        }

        &__sidebar {
          flex: 0 0 200px;
          padding: 20px;
        }
      }
    }
  }
}

div.highlight {
  margin: 20px 0;
  padding: 20px;
  background-color: #f5f5f5;

  @include border-radius(4px);
}

.content__body {
  p {
    margin-bottom: 15px;
  }
}

p {
  .highlighter-rouge {
    padding: 3px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #000;
    font-size: 13px;

    @include border-radius(4px);
  }
}

// < 850px
@include media-breakpoint-down(mobile-large) {
  .content {
    &__container {
      padding: 90px 0 0;
    }
  }
}
