body {
  color: $base-font-color;
  font-size: $base-font-size;
  font-family: $font-family-base-en;
}

.container {
  width: 100%;
  max-width: 1080px;

  &--wide {
    max-width: 100%;
  }
}

.content {
  &__container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;

    &--has-sidebar {
      display: flex;

      .content {
        &__body {
          flex: 1 1;
          padding: 20px;
        }

        &__sidebar {
          flex: 0 0 200px;
          padding: 20px;
        }
      }
    }
  }
}

div.highlight {
  margin: 20px 0;
  padding: 20px;
  background-color: #f5f5f5;

  @include border-radius(4px);
}

.content__body {
  p {
    margin-bottom: 15px;
  }
}

.submenu {
  &__sep-line {
    display: block;
    height: 1px;
    margin: 10px 0;
    background-color: #ddd;
  }
}
