table {
  border: 1px solid #add8db;

  td,
  th {
    padding: 10px;
  }

  th {
    border-bottom: 1px solid #9ed1d4;
    background-color: #add8db;
    font-weight: bold;
    word-wrap: normal;
    font-variant-caps: all-petite-caps;
  }

  td {
    border-bottom: 1px solid #add8db;

    &:nth-child(1) {
      font-weight: 600;
    }
  }

  .highlighter-rouge,
  span.code {
    padding: 3px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #000;
    font-size: 13px;

    @include border-radius(4px);
  }

  span.code {
    display: block;
  }
}
