table {
  border: 1px solid #add8db;

  td,
  th {
    padding: 10px;
  }

  th {
    border-bottom: 1px solid #9ed1d4;
    background-color: #add8db;
    font-weight: bold;
    word-wrap: normal;
    font-variant-caps: all-petite-caps;
  }

  td {
    border-bottom: 1px solid #add8db;

    &:nth-child(1) {
      font-weight: 600;
    }
  }

  .highlighter-rouge,
  span.code {
    padding: 3px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #000;
    font-size: 13px;

    @include border-radius(4px);
  }

  span.code {
    display: block;
  }
}

// < 550px
@include media-breakpoint-down(mobile) {
  #primary-options ~ table {
    tr {
      border-bottom: 1px solid #77abaf;
    }

    tbody,
    td,
    tr {
      display: block;
    }

    thead {
      display: none;
    }

    td {
      position: relative;
      padding-left: 36%;
      border-bottom: 1px solid #eee;
      text-align: left;

      &::before {
        position: absolute;
        top: 15px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        color: #77abaf;
        font-weight: bold;
        font-size: 13px;
        white-space: nowrap;
        font-variant-caps: all-petite-caps;
      }

      &:nth-of-type(1) {
        &::before {
          content: "field";
        }
      }

      &:nth-of-type(2) {
        &::before {
          content: "type";
        }
      }

      &:nth-of-type(3) {
        &::before {
          content: "default";
        }
      }

      &:nth-of-type(4) {
        &::before {
          content: "options";
        }
      }

      &:nth-of-type(5) {
        padding: 10px;
        font-size: 14px;
      }
    }
  }

  #child-options ~ table {
    td {
      &:nth-of-type(4) {
        &::before {
          display: none;
        }

        padding: 10px;
        font-size: 14px;
      }
    }
  }
}
